<div class="page contact">
	<div class="email-address">wolfgangfoulkes@alum.calarts.edu</div>
	<div class="apology">
		<p>
			if you are reading this, I forgot to write a mailer. <br>
			sorry, <br>
			<em> wolfgang </em>
		</p>
	</div>
</div>